---
import ProjectCard from "../herramientas/ProjectCard.astro";
---

<div>
  <div class="degradado-morado mt-10 ml-25 mr-25 mb-8 text-center p-5 rounded-3xl ">
    <h1 class="text-5xl font-bold tx-rosa-3 pacifico-regular">Proyectos</h1>
  </div>
  <div class="flex justify-center items-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-19 max-w-4xl ">
    <ProjectCard title="Catálogo Web" description="Catálogo dinámico con Laravel y PostgreSQL" />
    <ProjectCard title="Videojuego educativo" description="Juego desarrollado con Unity para reforzar lógica" />
    <ProjectCard title="Catálogo Web" description="Catálogo dinámico con Laravel y PostgreSQL" />
    <ProjectCard title="Videojuego educativo" description="Juego desarrollado con Unity para reforzar lógica" />
    <ProjectCard title="Catálogo Web" description="Catálogo dinámico con Laravel y PostgreSQL" />
    <ProjectCard title="Videojuego educativo" description="Juego desarrollado con Unity para reforzar lógica" />
    <ProjectCard title="Catálogo Web" description="Catálogo dinámico con Laravel y PostgreSQL" />
    <ProjectCard title="Videojuego educativo" description="Juego desarrollado con Unity para reforzar lógica" />
  </div>
</div>