---
import BaseLayout from "../layouts/BaseLayout.astro";
import ContactForm from "../components/ContactForm.astro";
---

<BaseLayout title="Contacto" activePage="contacto">
  <h2 class="text-2xl font-bold mb-4">Contáctame</h2>
  <ContactForm />
</BaseLayout>
