---
import BaseLayout from "../layouts/BaseLayout.astro";
import Section from "../components/Section.astro";
---

<BaseLayout title="Inicio" activePage="inicio">
  <Section title="Sobre mí">
    <p>Hola, soy Mariana, Ingeniera en Computación titulada con especialización en Ingeniería de Software.</p>
    <p>Actualmente busco ampliar mis conocimientos y adquirir más experiencia laboral desarrollando proyectos web.</p>
  </Section>
</BaseLayout>
