<footer class="bg-rosa-1 delius-swash text-center py-6 m-4 rounded-2xl text-sm tx-rosa-3">
  © 2025 Solis Torres — 
  <a href="https://github.com/nazaret94" class="text-pink-500">GitHub</a> |
  <a href="https://www.linkedin.com/in/mariana-nazaret-solis-torres-94926531/" class="text-pink-500">LinkedIn</a>
</footer>
