<div class="degradado-morado mt-10 ml-25 mr-25 mb-8 text-center p-5 rounded-3xl ">
    <h1 class="text-5xl font-bold tx-rosa-3 pacifico-regular">Contactame</h1>
  </div>
<div class="flex flex-col items-center gap-4 mb-10">
    <form class="bg-cyan-200 p-8 rounded-xl w-full max-w-md space-y-6">
      <!-- Nombre -->
      <input
        type="text"
        placeholder="Escribe tu nombre"
        class="w-full px-4 py-3 rounded-md bg-white text-gray-600 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-pink-300"
      />

      <!-- Correo -->
      <input
        type="email"
        placeholder="Escribe tu correo"
        class="w-full px-4 py-3 rounded-md bg-white text-gray-600 placeholder-gray-500 focus:outline-none focus:ring-2 focus:ring-pink-300"
      />

      <!-- Mensaje -->
      <textarea
        placeholder="MENSAJE"
        rows="5"
        class="w-full px-4 py-3 rounded-md bg-white text-gray-600 placeholder-gray-500 resize-none focus:outline-none focus:ring-2 focus:ring-pink-300"
      ></textarea>

      <!-- Botón -->
      <button
        type="submit"
        class="w-full bg-pink-400 text-white font-semibold py-3 rounded-md hover:bg-pink-500 transition"
      >
        ENVIAR
      </button>
    </form>
</div>
  