---
import FormacionCard from '../index/FormacionCard.astro';

const {  experienciaData  } = Astro.props;
---

<div class="px-4 sm:px-6 md:px-10 lg:px-20">
  <!-- Encabezado -->
  <div class="degradado-morado mt-10 mb-8 text-center p-5 rounded-3xl">
    <h1 class="text-3xl sm:text-4xl md:text-5xl font-bold tx-rosa-3 pacifico-regular">Experiencia</h1>
  </div>

  <!-- Grid de formación -->
  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-10 max-w-7xl mx-auto">
    {experienciaData.map(item => (
      <FormacionCard logo={item.logo} alt={item.empresa} />
    ))}
  </div>
</div>
