---
import FormacionCard from '../index/FormacionCard.astro';

// Simulación de datos desde una base o API
//const formacionData = [
const{educacionData} = Astro.props;
---

<div>
  <div class="degradado-morado mt-10 ml-25 mr-25 mb-8 text-center p-5 rounded-3xl ">
    <h1 class="text-5xl font-bold tx-rosa-3 pacifico-regular">Formación</h1>
  </div>
  <div class="flex justify-center items-center">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-19 max-w-4xl ">
    {educacionData.map(item => (
      <FormacionCard logo={item.logo} alt={item.nombre} />
    ))}
  </div>
</div>


