<div class="flex  flex-col">  
    <div class="flex h-80"> 
        <div class="w-2/3">
            <div class="degradado-verde-2 h-1/3 rounded-bl-xl flex flex-col justify-center text-center tx-negro">
                <h1 class="delius-swash text-3xl">Solis Torres Mariana Nazaret</h1>
                <h2 class="poiret-one text-2xl ">Ingeniera en Computacion</h2>
            </div>
            <div class="h-2/3 grid content-end">
                <div class="degradado-rosa h-35 w-8/9 rounded-t-lg flex justify-center items-center">
                    <div class="bg-rosa-1 w-3/4 h-15 rounded-xl flex justify-center items-center">
                        <h1 class="tx-rosa-3 pacifico-regular text-3xl">Sobre mi</h1>
                    </div>
                    
                </div>
            </div>
        </div>
        <div class="degradado-verde w-1/3 h-7/8 rounded-b-xl flex justify-center">
            <img src="../../public/fotoSTMN.jpg" alt="foto de Solis Torres Mariana Nazaret" class="w-65 h-65"/>
        </div>
    </div>
    <div class="bg-rosa-2 h-80">  
        <div class="bg-rosa-3 m-5 p-5 rounded-2xl text-2xl tx-verde-agua-1">
            <p>
               Hola, soy Mariana, Ingeniera en Computación titulada con especialización
                en Ingeniería de Software. Cuento con experiencia en administración de
                redes, desarrollo de videojuegos y programación web.
            </p>
        </br>
            <p>
                Mi objetivo profesional es seguir ampliando mis conocimientos y adquirir
                más experiencia laboral, por lo que actualmente estoy tomando cursos para
                desarrollar nuevas habilidades técnicas 
            </p>
            
        </div>
    </div>
</div>

