---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
const { title, activePage } = Astro.props;
---

<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{title ? `${title} | Portafolio STMN` : "Portafolio STMN"}</title>
  </head>
  <body class="bg-rosa-3">
    <Header activePage={activePage} />
    <main class="min-h-screen px-4">
      <slot />
    </main>
    <Footer />
  </body>
</html>
